@charset "utf-8";
/* CSS Document */



/*--- main ---*/

h2{
	text-align:center;
	clear:both;
	font-size:30px;
	}

#main{
	width:80%;
	margin:40px auto;
	text-align: center;
	}

#main img{
	max-width:100%;
	margin:50px auto;
}

#main p{
	text-align:left;
}


@media ( min-width : 600px ){
	#main {
    display: flex;
    flex-wrap: wrap;
    }
  .pic {
    width: 40%;
		margin:0 auto;
  }
}












/*-- toTop --*/

.toTop{
	clear:both;
	}
